// Primary colors
$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
// Neutral colors
$white: hsl(0, 0%, 100%);
$slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75);
$slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6);

// Colors by element
$clr-bg-main: $very-dark-blue;
$clr-bg-card: $dark-desaturated-blue;
$clr-accent: $soft-violet;
$clr-heading-stats-main: $white;
$clr-paragraph-main: $slightly-transparent-white-1;
$clr-heading-stats: $slightly-transparent-white-2;

// Breakpoints
$breakpoint-sm: 390px;
$breakpoint-lg: 920px;

// Font families
$ff-inter: 'Inter', sans-serif;
$ff-lexend-deca: 'Lexend Deca', sans-serif;
